@keyframes color {
    0%   { background: #FF0066; }
    20%  { background: #FF99CC; }
    40%  { background: #FF9999; }
    60%  { background: #FF6699; }
    80%  { background: #FF0099; }
    100% { background: #FF66CC; }
  }
  
  body {
    background: #FF3399; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 5em;
    color: black;
    margin-top: 0%;
  }
  p{
    font-size:20px;
    text-align: center;
    margin-top: 0%;
  }
.button{
  padding: 10px 20px;
  background-color: #04AA6D;
  color:rgb(3, 3, 3);
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
}